*{
    box-sizing: border-box;
}
$second-bg:rgb(36, 35, 35);
.bg-cover{
    background-position:center center;
    background-size:cover;
}
.bottom-block{
    position:sticky;
    left:0;
    right:0;
    bottom:0;
    height:30px;
    background-color:$second-bg;
    z-index:100;
}
.container-box-shadow{
    box-shadow: 10px 10px 10px rgba(36, 36, 35, 0.5);
}
.z-2{
    z-index:2;
}
.z-3{
    z-index:3;
}
.z-4{
    z-index:4;
}
.z-5{
    z-index:5;
}
.z-6{
    z-index:6;
}
.z-7{
    z-index:7;
}
// header
.header-img{
    position:relative;
    z-index:3;
    height:100vh;
    .img{
        height:100%;
        width:100%;
        background-size:cover;
        background-position:center center;
    }
}

.header-content{
    position:relative;
    z-index:2;
    color:white;
    margin-top:-96vh;
    .content-container{
        height:190vh;
        .sticky-intro{
            position: sticky;
            top:0px;
            height:90vh;
            background-color:#000;
            .content-box{
                height:100%;
                display:flex;
                align-items:center;
                padding:30px 60px;
                .content-text{
                    h1{
                        font-size:66px;
                        font-weight:600;   
                    }
                    p{
                        font-size:26px;
                        font-weight:300;
                    }
                }
            }
        }
    }
}

@media(max-width:576px){
    .header-content{
        .content-container{
            .sticky-intro{
                top:20px;
                .content-box{
                    .content-text{
                        h1{
                            font-size:46px;
                            font-weight:600;
                        }
                        p{
                            font-size:18px;
                            font-weight:300;
                        }
                    }
                }
            }
        }
    } 
}

// design
.product-img-group{
    position:relative;
    z-index:3;
    background-color:$second-bg;
    height:76vh;
    display:flex;
    align-items:center;
    img {
        height:550px;
    }
}
.product-design{
    margin-top:-75vh;
    position:relative;
    z-index:2;
    .product-design-container{
        height:165vh;
        .product-design-sticky{
            position:sticky;
            top:62px;
            height:auto;
            .product-design-box{
                height:100%;
                .product-design-item{
                    height:100%;
                    .product-design-description{
                        width:100%;
                        height:100%;
                        background-color:#000;
                    }
                }
            }
        }
    }
}
.product-design-item{
    .design-content{
        height:100%;
        display:flex;
        justify-content:center;
        flex-direction: column;
        color:white;
        padding:15px 40px;
        h1{
            font-size:58px;
        }
    }
    img{
        height:554px;
    }
}
@media(max-width:576px){
    .product-img-group{
        height:auto;
        img{
            height:308px;
        }
    }
    .product-design-item{
        .design-content{
            h1{
                font-size:34px;
            }
        }
        img{
            height:278px;
        }
    }
}



// advance
.product-advance{
    height:100vh;
    position:sticky;
    top:0;
        .product-bg-img{
            border-radius: 15px;
            // height:100%;
            // width:100%;
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            transition:all .7s ease;
    }
}
.product-advance.i-fix{
    overflow: hidden;
    .product-bg-img{
        filter:blur(10px);
    }
}
.product-advance-content{
    background-image:url("https://images.unsplash.com/photo-1530799594-8a82e00a041b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
    position:sticky;
    top:0;
    height:100vh;
    width:100%;
    background-color:$second-bg;
    color:white;
    display:flex;
    align-items:center;
    border-radius:15px;
    .product-advance-container{
        border-radius:15px;
        padding:50px 10px;
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin:auto;
        max-height:600px;
        max-width:80%;
        overflow: hidden;
        .bg-block{
            position:absolute;
            top:0;
            left:0;
            right:0;
            bottom:0;
            background-color:rgba(36, 36, 35, 0.5);
            &:after{
                content:'';
                position:absolute;
                z-index:-1;
                top:-10px;
                left:-10px;
                right:-10px;
                bottom:-10px;
                background-image:url("https://images.unsplash.com/photo-1530799594-8a82e00a041b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
                background-attachment:fixed; 
                background-position:center center;
                background-size:cover;
                // background-attachment: fixed;
                filter:blur(8px);
            }
        }
        .product-text{
            font-size:24px;
            font-weight:300;
        }
        @media(max-width:576px){
            .product-text{
                font-size:18px;
            }
        }
        .product-img{
            height:500px;
            img{
                height:100%;
            }
        }
    }
}
@media(max-width:576px){
    .product-advance-content{
        .product-advance-container{
            .product-img{
                height:300px;
            }
        }
    }
}
// glass-section
.glass-section{
    position:sticky;
    top:0;
    height:100vh;
    width:100%;
    overflow:hidden;
    border-radius: 15px;
    .bg-glass{
        position:absolute;
        z-index:0;
        top:0;
        left:0;
        right:0;
        bottom:0;
        background-color:rgba(36, 36, 35, 0.5);
    }
    &:after{
        content:"";
        position:absolute;
        z-index:-1;
        top:-9px;
        left:-9px;
        right:-9px;
        bottom:-9px;
        background-image:url("https://images.unsplash.com/photo-1506956191951-7a88da4435e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
        filter:blur(10px);
        background-size:cover;
        background-position:center center;
    }
    .glass-container{
        position:absolute;
        top:0;
        left:0;
        right:0;
        bottom:0;
        margin: auto auto;
        // margin:120px auto;
        padding:0 20px;
        max-width:80%;
        height:600px;
        border-radius:15px;
        overflow: hidden;
        background-color:rgba(36, 36, 35, 0.3);
        display:grid;
        grid-template-columns: repeat(4,1fr);
        grid-template-rows: repeat(6,1fr);
        grid-gap:0px 10px;
        .bg-block{
            position:absolute;
            z-index:-1;
            top:0;
            left:0;
            right:0;
            bottom:0;
            &:after{
                content:"";
                position:absolute;
                top:0;
                left:0;
                right:0;
                bottom:0;
                background-image: url("https://images.unsplash.com/photo-1506956191951-7a88da4435e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80");
                background-position:center center;
                background-size:cover;
            }
        }
        .p-1{
            grid-column: 3 / span 1;
            grid-row: 1 /span 1;
        }
        .p-2{
            grid-column: 1 / span 2;
            grid-row: 2 /  span 4;
        }
        .p-3{
            grid-column: 3 / span 2;
            grid-row: 2 /  span 4;
        }
        .title{
            // text-align:right;
            line-height: 100px;
            font-size:52px;
            font-weight:600;
        }
        .product-detail{
            width:100%;
            display:flex;
            flex-wrap:wrap;
            // justify-content: center;
            .item{
                position:relative;
                padding:0 4%;
                width:46%;
                .item-num{
                    position:absolute;
                    bottom:-23px;
                    left:-6px;
                    font-size:32px;
                    font-weight:600;
                }
                img {
                    width:100%;
                    height:210px;
                }
            }
        }
        
    }
}
@media(max-width:768px){
    .glass-section{
            .glass-container{
                max-width:98%;
            }
    }
}
@media(max-width:576px){
    .glass-section{
        height:100vh;
        .glass-container{
            padding:0 10px;
            max-width:95%;
            height:98%;
            background-color:rgba(36, 36, 35, 0.6);
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(6,1fr);
            align-items:center;
            .p-1{
                grid-column: 1 / span 1;
                grid-row: 1 /span 1;
            }
            .p-2{
                grid-column: 1 / span 2;
                grid-row: 1 /  span 6;
            }
            .product-detail{
                justify-content: center;
                .item{
                    width:50%;
                    .item-num{
                        bottom:196px;
                        left:-12px;
                    }
                    padding:5% 1%;
                    img{
                        height:200px
                    }
                }
            }
        }
    }
}
// men-product-advane
.men-product-advance{
    height:100vh;
    position:sticky;
    top:0;
    z-index:5;
}
.men-content{
    position: relative;
    top:0;
    height:100vh;
    overflow: hidden;
    .men-container{
        position:absolute;
        margin:auto;
        top:0;
        left:0;
        right:0;
        bottom:0;
        max-width:1128px;
        height:600px;
        border-radius: 15px;
        padding:0 20px;
        overflow: hidden;
        .bg-block{
            position: absolute;
            top:0px;
            left:0px;
            right:0px;
            bottom:0px;
            background-color:rgba(36, 36, 35, .3);
            &:after{
                content:"";
                position: absolute;
                z-index:-1;
                top:-10px;
                left:-10px;
                right:-10px;
                bottom:-10px;
                background-image:url('https://images.unsplash.com/photo-1507680434567-5739c80be1ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
                background-position: center center;
                background-size:cover;
                background-attachment: fixed;
                filter:blur(10px);
            }
        }
        .men-product-description{
            height:100%;
        }
        img{
            height:500px;
        }
        .product-text{
            font-size:24px;
            font-weight:300;
        }
    }
}
@media(max-width:768px){
    .men-content{
        .men-container{
            max-width: 80%;
        }
    }
}
@media(max-width:576px){
    .men-content{
        .men-container{
            max-width: 90%;
            height:auto;
        }
    }
}


.men-product-group{
    height:100vh;
    position: relative;
    // .test{
    //     width:100%;
    //     height:100%;
    //     background-color:rgba(36, 36, 35, 0.5);
    // }
        .men-product-container{
            position: absolute;
            // z-index:10;
            top:0;
            left:0;
            right:0;
            bottom:0;
            margin:80px auto 0 auto;
            max-width:1128px;
            height:500px;
            padding:15px 40px;
            background-color:rgba(36, 36, 35, .5);
            border-radius: 15px;
            // overflow: hidden;
            .mt-100{
                // margin-top:150px;
                position:absolute;
                top:174px;
                left:-90px;
                img{
                    border-radius: 15px;
                }
            }
            .product-text{
                font-size:24px;
                font-weight: 300;
            }
            .bg-block{
                position: absolute;
                z-index:-1;
                top:0;
                left:0;
                right:0;
                bottom:0;
                border-radius: 15px;
                overflow: hidden;
                &:after{
                    content:"";
                    position:absolute;
                    top:0;
                    left:0;
                    right:0;
                    bottom:0;
                    background-image: url("https://images.unsplash.com/photo-1507680434567-5739c80be1ac?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80");
                    background-size:cover;
                    background-position:center center;
                }
            }
        }
}
@media(max-width:768px){
    .men-product-group{
        .men-product-container{
            max-width:80%;
        }
    }
}
@media(max-width:576px){
    .men-product-group{
        margin-top:150px;
        .men-product-container{
            max-width:90%;
            height:auto;
            margin:0 auto;
            .mt-100{
                // margin-top:150px;
                position: relative;;
                top:0px;
                left:0px;
                img{
                    height:300px;
                }
            }
        }
    }
}

